<div id="welcome-text" class="innen-raum">
    <div style="margin: 30px; ">
  <h3>Willkommen bei comerd-tech Gmbh</h3>
  <p>
  Wir freuen uns, Sie auf unserer Webseite begrüßen zu dürfen.
  Die Firma comerd-tech GmbH ist ein aufstrebendes Unternehmen, im Bereich Modernisierung von Aufzugsanlagen.
  Zu unseren Aufgaben gehören,
  </p>
  <ul>
  <li>Türverriegelung an Schachttüren</li>
  <li>Neue Schachttüren an bestehenden Rahmen</li>
  <li>Kabinenkörper modernisieren</li>
  <li>Kabinenabschlusstüren</li>
  <li>Schlosserarbeiten an Kabinen und Türen</li>
  </ul>
  <p>Unser Unternehmen arbeitet für den Aufzugshersteller und nicht für den Anlagebetreiber!</p>
  </div>
  </div>
