<aside>
    <div id="aside-right">
        <div style="display:flex; flex-direction: column; margin-top: -500px;"> 
        <button onClick="parent.location='ueber-uns'">Über Uns<i class="fa fa-sort-up" style="font-size:48px;color:black; margin-left: 70%; margin-top: -5px;"></i></button>
        <button onClick="parent.location='kontakt'" >Kontakt <i class="fa fa-sort-down" style="font-size:48px;color:black; margin-top: -15px; margin-left: 5px;"></i></button>
       
        </div>
    </div>
</aside>
