<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<aside>
    <div id="aside-left">
           
       
            <div style="display:flex; flex-direction: column; margin-top: -500px;"> 
            <button  onClick="parent.location='home'">Home <i class="fa fa-sort-up" style="font-size:48px;color:black; margin-left: 5px; margin-top: 205px;"></i></button>
            <button onClick="parent.location='gallery'">Gallery <i class="fa fa-sort-down" style="font-size:48px;color:black; margin-top: -15px; margin-left: 5px;"></i></button>
            
        </div>
    </div>
   
</aside>


